.theme-switch {
    position: relative;
    display: inline-block;
    width: 3.2rem;
    height: 1.6rem;
    font-size: 1rem;
}

.theme-switcher-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 0.25rem;
    width: 100%;
    padding-top: 1rem;

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--switch-bg);
        transition: 0.5s;
        border-radius: var(--radius-lg);
    }

    .slider:before {
        position: absolute;
        content: '';
        height: 1.2rem;
        width: 1.2rem;
        border-radius: 50%;
        left: 10%;
        bottom: 15%;
        box-shadow: var(--switch-knob-shadow);
        background: var(--switch-bg);
        transition: 0.5s;
    }
}

#sidebarSettingsBtn {
    background-color: transparent;
    transition: transform 0.2s ease;
    filter: invert(var(--invert-white));

    &:hover {
        background-color: transparent;
        transform: scale(1.1);
    }
}

.theme-switch-text-label {
    display: inline-block;
}

.theme-switch input {
    width: 2.8rem;
    height: 1.2rem;
}

.scroll-button {
    visibility: hidden;
    position: fixed;
    bottom: 7rem;
    left: 50%;
    width: 3rem;
    height: 3rem;
    font-size: 1rem;
    border-radius: 50% !important;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

.scroll-button.visible {
    visibility: visible;
}

.open-sidebar-btn {
    display: flex;
    place-content: center;
}

.chat-header-name {
    font-weight: bold;
}

.messages-list {
    flex: 1;
    padding-bottom: 1rem;
    max-height: calc(100dvh - 156px);
    min-height: calc(100dvh - 156px);
    background-color: var(--bg);
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
    scrollbar-width: thin;
    scrollbar-color: var(--switch-bg) var(--bg);
}
